*{
	font-family: helvetica;
}
body, div, p{
	margin: 0;
	padding: 0;
}
header{
	background: green;
	color: white;
	text-align: center;
}
header h1{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0
}
.content{
	max-width: 900px;
	min-height: 91.3%;
	position: relative;
	margin: 0 auto;
}
a::selection, p::selection {
	background: green;
	color: white;
}
.menu{
	float: left;
	background: red;
	color: white;
	position: absolute;
	width: 12em;
	top: 0;
	bottom: 0;
}
.menu ul{
	list-style: none;
	padding-left: 3em;
	padding-top: 1em;
	padding-right: 1em;
}
.menu ul li:hover{
	background-color: green;
}
li{
	margin-bottom: 0.5em;
}
ul a{
	color: white;
}
.main{
	padding-top: 2em;
	padding-left: 14em;
	padding-right: 2em;
	text-align: justify;
}
footer{
	background: black;
	color: white;
	text-align: center;
	clear: both;
}
footer h3{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0;
}
