*{
    font-size: x-large;
    font-weight: bold;
}
table{
    border: solid 5px rgb(0, 153, 255);
    border-spacing: 5px;
    padding: 10px;
}
td{
    width: 60px;
    height: 60px;
}
button{
    height: 100%;
    width: 100%;
}
input{
    width: 100%;
    box-sizing: border-box;
    text-align: right;
}
button:focus{
    border-color: rgb(0, 153, 255);
}
span{
    color: rgb(190, 190, 190);
}