.square{
    position: absolute;
    width: 120px;
    height: 120px;
    background: red;
}
.triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 140px solid blue;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}
.circle{
    position: absolute;
    width: 120px;
    height: 120px;
    background: green;
    border-radius: 60px;
}