body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    padding: 0;
    border-collapse: collapse;
}
td{
    padding: 0;

}
input{
    border: solid 1px rgb(165, 164, 164);
    box-sizing: border-box;
    height: 25px;
    font-size: 1em;

}
button{
    border: solid 1px rgb(165, 164, 164);
    font-size: 1em;

}
tr button{
    height: 25px;
    width: 25px;
}
